<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/myStyle.css" />
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/myApp.js"></script>
</head>
<body  >

   <ul class="nav nav-pills" ng-controller="IndexController">
    <li ng-class="{active:m==selectedMenu}" ng-click="select(m)" class="clickable" ng-repeat="m in menu">
       <a>{{m}}</a>
    </li>  
  </ul>
  
   <div ng-if="selectedMenu='Listes'" ng-controller="ListeEtudiantController">
    <div ng-include="'views/listeEtudiants.html'"></div>
  </div>
  
   <div ng-if="selectedMenu='Inscription'" ng-controller="InscriptionController">
    <div ng-include="'views/inscription.html'"></div>
  </div>
 
 
</body>
</html>