<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>inscription</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/myStyle.css" />
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/myApp.js"></script>
</head>
<body ng-app="myApp" ng-controller="InscriptionController">

	<div class="col-md-6 col-sm-6 spacer">
		<div class="panel panel-info">
			<div class="panel-heading">Inscription d'un etudiant</div>

			<div class="panel-body">
				<div ng-if="mode.value=='form'">
					<form>
						<div class="form-group">
							<label class="control-label">Nom:</label>
							 <input class="form-control" type="text" ng-model="etudiant.nom" /> 
							 <span ng-if="errors" class="error">{{errors.nom}}</span>	 
						</div>
						<div class="form-group">
							<label class="control-label">Prenom:</label> 
							<input class="form-control" type="text" ng-model="etudiant.prenom" />
							<span ng-if="errors" class="error">{{errors.prenom}}</span>
						</div>
						<div class="form-group">
						  <label class="control-label">Date de naissance:</label>
						  <input class="form-control" type="date" ng-model="etudiant.dateNaissance" />	
						  <span ng-if="error" class="error">{{errors.dateNaissance}}</span>	
						</div>
						<div>
							<button class="btn btn-primary" ng-click="saveEtudiant()">Save</button>
						</div>
					</form>
				</div>
				
				<div ng-if="mode.value=='confirm'">
				  <div class="panel-heading">Confirmation: l'etudiant à été inscrit avec succès</div>
							
					<div class="form-group">
					  <label class="control-label">ID:</label>
					  <label class="control-label">{{etudiant.idEtudiant}}</label>		
					</div>
					<div class="form-group">
					  <label class="control-label">Nom:</label>
					  <label class="control-label">{{etudiant.nom}}</label>
					</div>
					<div class="form-group">
					  <label class="control-label">Prenom:</label>
					  <label class="control-label">{{etudiant.prenom}}</label>
					</div>
					<div class="form-group">
					  <label class="control-label">Date De Naissance:</label>
					  <label class="control-label">{{etudiant.dateNaissance|date:'yyyy-MM-dd'}}</label>
					</div>
				</div>
				    <div ng-if="exception.message">
					  <span class="error">{{exception.message}}</span>
				    </div>
				</div>
			</div>
		</div>
</body>
</html>